html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    font-family: sans-serif;
  }

  a{
      text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .container{
      width: 1230px;
      padding: 0 30px;
      margin: 0 auto;
  }
 
  .nav{
      padding-top: 30px;
      display: flex;
      align-items: center;
    }
    .logotipe{
        width: 106px;
        margin-right: auto;
    }
    .nav_list{
        width: 560px;
        height: 30px;
        display:flex ;
        justify-content: space-between;
}
.nav_item{

    list-style: none;
}
.nav_link{
    color:#AAAAAB;
    text-decoration-line: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.nav_items{
    color: #AAAAAB;
    font-size: 30px;
    list-style: none;
}
.nav_link:hover{
    color:black;
}
#best{
    display: flex;
    padding:100px 0;
}
.pink_txt{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #F78CB6;
}


.best_title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #56597A;
}
.best_txt{
    
    font-size: 20px;
    line-height: 32px;
    color:  #919299;
    margin-bottom: 40px;
}
.get_link {
 
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
   padding: 18px 50px 18px 22px;
   border :1px solid #F78CB6;
   border-radius: 5px;
   background-color: #F78CB6;
   
}
.best_img{
    width: 532px;
}
#choose{
    padding: 80px 0;
}
.choose_pink{
    margin-bottom: 10px;
    text-align: center;
    color: #F78CB6;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}
.choose_title{
    margin-bottom: 58px;
    text-align: center;
    color: #56597A;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
}
.cards{
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.card{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color:#fadeea ;
    width: 270px;
    height: 307px;
    transition: 0.5s ease;
    overflow: hidden;
}
.card:hover{
    color: #fff;
    height: 344px;
    background-color: #F78CB6;
}
.card:hover .learn{
    bottom: 20px;
}
.learn{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s ease;

    color: #fff;
    text-decoration: none;
    text-align: center;
}
.boxx{
    margin-bottom: 30px;
    font-size: 50px;
    color: #F78CB6;
    margin:40px 90px 0 90px;
    transition: 1s ease;
}
.card:hover .boxx{
    color: #fff;
}
.box_tit{
    margin-bottom: 20px;
    color:  #56597A;;
    text-align: center;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
}
.box_txt{
    text-align: center;
    color: #919299;;
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
}
#about{
    padding: 80px 0;
}
.design{
  display: flex;  
}
.design_img{
    margin-right: 79px;
    width: 570px;
    margin-bottom: 120px;
}
.design_pink{
 margin-bottom: 10px;
color: #F78CB6;    
font-weight: 500;
font-size: 28px;
line-height: 40px;
}
.design_title{
margin-bottom:24px ;
color: #56597A;;
font-weight: 700;
font-size: 52px;
line-height: 62px;
}
.desegn_txt{
margin-bottom: 40px;
color:#919299;
font-weight: 400;
font-size: 20px;
line-height: 32px;
}
.teem{
display: flex;
flex-direction: row-reverse;
   
  }
.teem_img{
      margin-left: 79px;
      width: 570px;
      margin-bottom: 120px;
  }
  .teem_pink{
      margin-bottom: 15px;
  color: #F78CB6;    
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  }
  .teem_title{
    margin-bottom: 26px;
  color: #56597A;;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  }
  .teem_txt{
      margin-bottom: 40px;
  color:#919299;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  }
  .client{
    padding-left: 186;
    width: 1070px;
    display: flex; 
    justify-content: space-around; 
  }
  .client_img{
 
  width: 415px;
  margin-bottom: 120px;
  }
  .client_pink{
  margin-bottom: 11px;    
  color: #F78CB6;    
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  }
  .client_title{
   margin-bottom:10px;   
  color: #56597A;;
  font-weight: 700;
  font-size: 45px;
  line-height: 62px;
  }
  .client_txt{
      margin-bottom: 15px;
  color:#919299;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  }  
  .john{
      margin-bottom: 10px;
    color: #56597A;;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px; 
  }
  .usa{
    color:#919299;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px; 
  }
  .and{
      text-decoration: none;
  }
  .clients_and{
      margin-top: 100px;
      width: 1170px;
      display: flex;
      justify-content: space-between;
  }
  #blog{
      position: relative;
      padding: 100px 0;
  }
  .image_airplane{
      position: absolute;
      left: -100px;
      bottom: 50px;
  }
  
  .blog_title{
    text-align:center;
    color:#56597A ;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
  }
  .blog_txt{
    text-align: center;
    color: #919299;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .put{
      text-align: center;
  }
  footer{
      background-image: url("../img/Vector\ 4.png");
      background-repeat: no-repeat;
      background-size: cover;
  }
  footer{
      height: 300px;
      width: 1170px;
      display: flex;
      justify-content: space-between;

  }
  .box_two_title{
      color: #68686b;
      margin-bottom: 25px;
  }
  .box_one_item{
      
      border-radius: 50%;
      
      font-size: 25px;
      margin-right: 10px;
      list-style: none;
      transition:  1s ease;
  }
  .box_two_item{
       margin-bottom:30px;
      list-style: none;
  }
  .image_footer{
      margin-bottom: 38px;
  }
  .box_one_txt{
      color: #919299;
      margin-bottom: 38px;
  }
  .box_one_list{
      margin-left: 0;
      display: flex;
  }
  .box_one_foll{
      color: #919299;
      margin-bottom: 20px;
  }
  .all{
      
      color:#919299;
      transition: 1s ease;
    }
    .all:hover{
        background-color: #fff;
        color: #F78CB6;
    }
    .links{
        color: #919299;
        ;
    }
 
















  